{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Teams</h2>
{% for i in board_n %}
<section>
  {% include 'partials/_standing.html' with title="AL East"%}
  {% include 'partials/_standing.html' with title="AL East"%}
</section>
{% endfor %}

<h2>News</h2>
<section>  
  {% for i in news_n %}
  <article id="news">
    <img src="{% static 'img/news_holder.png' %}">
    <p>
      <a href="#" > news links </a>
    </p>
    <p>
      David Adler - Dec 2 2022
    </p>
  </article>
  {% endfor %}
</section>

{% endblock %}