{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Teams</h2>
{% for l, r in divisions_data %}
<section>
  {% include 'partials/_standing.html' with division_data=l%}
  {% include 'partials/_standing.html' with division_data=r%}
</section>
{% endfor %}

<h2>News</h2>
<section>
  {% for item in news_lst %}
  <article id="news">
    <img src="{{item.image_url}}">
    <p>
      <a href="{{item.link}}"> {{item.title}} </a>
    </p>
    <p>
      {{item.creator}} - {{item.date}}
    </p>
  </article>
  {% endfor %}
</section>

{% endblock %}