{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Leaderboards</h2>
{% for hitting, pitching, catching in leaders_hr_so %}
<section>
  {% include 'partials/_leader.html' with leader_data=hitting%}
  {% include 'partials/_leader.html' with leader_data=pitching%}
  {% include 'partials/_leader.html' with leader_data=catching%}
</section>
{% endfor %}

{% for hitting, pitching in leaders_ops_era %}
<section>
  {% include 'partials/_leader.html' with leader_data=hitting%}
  {% include 'partials/_leader.html' with leader_data=pitching%}
</section>
{% endfor %}

{% endblock %}