<table id="standing">
    <tr>
        <th></th>
        <th>{{data.leaderCategory}}</th>
        <th></th>
        <th>{{data.leaderCategory}}</th>
    </tr>
    {% for team in division_data.teams %}
    <tr>
        <td>{{data.rank}}</td>
        <td>
            <img src="{{data.head_shot_url}}" width="30" height="30">
        </td>
        <td>
            <a href="{% url 'player' pk=data.person.id %}?player_type={{player_type}}">{{data.person.fullName}}</a>
        </td>
        <td>{{data.value}}</td>
    </tr>
    {% endfor %}
</table>