<table id="standing">
    <tr>
        <th></th>
        <th>{{leader_data.statGroup_name}}</th>
        <th></th>
        <th>{{leader_data.leaderCategory_short_name}}</th>
    </tr>
    {% for leader in leader_data.leaders %}
    <tr>
        <td>{{leader.rank}}</td>
        <td>
            <img src="{{leader.head_shot_url}}" width="30" height="30">
        </td>
        <td>
            <a href="{% url 'player' pk=leader.person.id %}?player_type={{leader_data.statGroup}}">{{leader.person.fullName}}</a>
        </td>
        <td>{{leader.value}}</td>
    </tr>
    {% endfor %}
</table>