<table id="standing">
    <tr>
        <th>Year</th>
        <th>Team</th>
        <th></th>
        <th>G</th>
        <th>PA</th>
        <th>AB</th>
        <th>R</th>
        <th>H</th>
        <th>2B</th>
        <th>3B</th>
        <th>HR</th>
        <th>RBI</th>
        <th>SB</th>
        <th>BB</th>
        <th>SO</th>
        <th>OBP</th>
        <th>SLG</th>
        <th>OPS</th>
    </tr>
    {% for record in records %}
    <tr>
        <td>{{record.season}}</td>
        <td>
            <img src="{{record.team_log_url}}" width="30" height="30">
        </td>
        <td>{{record.team.name}}</td>
        <td>{{record.stat.gamesPlayed}}</td>
        <td>{{record.stat.plateAppearances}}</td>
        <td>{{record.stat.atBats}}</td>
        <td>{{record.stat.runs}}</td>
        <td>{{record.stat.hits}}</td>
        <td>{{record.stat.doubles}}</td>
        <td>{{record.stat.triples}}</td>
        <td>{{record.stat.homeRuns}}</td>
        <td>{{record.stat.rbi}}</td>
        <td>{{record.stat.stolenBases}}</td>
        <td>{{record.stat.babip}}</td>
        <td>{{record.stat.strikeOuts}}</td>
        <td>{{record.stat.obp}}</td>
        <td>{{record.stat.slg}}</td>
        <td>{{record.stat.ops}}</td>
    </tr>
    {% endfor %}
</table>