{% load static %}
<div id="banner">
    <div class="alignleft">
        <div class="img-text-container">
            <img src="{{player_data.head_shot_url}}" width="150" height="150" >
            <div>
                <p>{{player_data.fullName}} </p>
                <p>{{player_data.primaryPosition.abbreviation}}</p>
            </div>
        </div>
    </div>
    <p class="alignright">
        <br>{{player_data.currentAge}} - 
        {{player_data.height}} - 
        {{player_data.weight}} - 
        {{player_data.draftYear}}
    </p>
</div>