<table id="standing">
    <tr>
        <th>Pos</th>
        <th>#</th>
        <th>Player</th>
        <th></th>
        <th>Age</th>
        <th>B</th>
        <th>T</th>
        <th>PA</th>
        <th>H</th>
        <th>2B</th>
        <th>3B</th>
        <th>HR</th>
        <th>SB</th>
        <th>SO%</th>
        <th>BB%</th>
        <th>AVG</th>
        <th>OBP</th>
        <th>OPS</th>
    </tr>
    {% for player in roster_data %}
    <tr>
        <td>{{player.position.abbreviation}}</td>
        <td>{{player.jerseyNumber}}</td>
        <td>
            <img src="{{player.head_shot_url}}">
        </td>
        <td>
            <a href="{% url 'player' pk=player.person.id %}">
                {{player.person.fullName}}
            </a>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endfor %}
</table>