<table id="standing">
    <tr>
        <th>{{division_data.division_abbr}}</th>
        <th></th>
        <th>W</th>
        <th>L</th>
        <th>Pct</th>
        <th>GB</th>
        <th>Home</th>
        <th>Away</th>
        <th>L10</th>
    </tr>
    {% for team in division_data.teams %}
    <tr>
        <td>
            <img src="{{team.team_log_url}}" width="30" height="30">
        </td>
        <td>
            <a href="{% url 'team' pk=team.team_id %}">{{team.team_abbr}}</a>
        </td>
        <td>{{team.leagueRecord.wins}}</td>
        <td>{{team.leagueRecord.losses}}</td>
        <td>{{team.leagueRecord.pct}}</td>
        <td>{{team.gamesBack}}</td>
        <td>{{team.records.home.wins}}-{{team.records.home.losses}}</td>
        <td>{{team.records.away.wins}}-{{team.records.away.losses}}</td>
        <td>{{team.records.lastTen.wins}}-{{team.records.lastTen.losses}}</td>
    </tr>
    {% endfor %}
</table>