{% load static %}
<div id="banner">
    <div class="alignleft">
        <div class="img-text-container">
            <img src="{{team_data.team_log_url}}" width="100" height="100">
            <div>
                <h2>{{team_data.name}} - {{team_data.abbreviation}}</h2>
                <p>{{team_data.division.name}}</p>
            </div>
        </div>
    </div>
    <div class="alignright">
        <br>
        <div class="btn-group">
            <button>Hitters</button>
            <button>Pitchers</button>
        </div>
    </div>
</div>